body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../img/bosque.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

h1{
    text-align: center;
    color: #1a3155;
}
.container{
    padding-top: 1rem;
}
.animar{
    margin: auto;
    width: 64px;
    height: 64px;
    border: 2px solid #1a3155;
    background-image: url(../img/sprite_sheet_caminar.png);
}

.animar:hover{
    animation: xmov 1s steps(8) infinite;
    cursor: pointer;
}

@keyframes xmov{
    100%{
        background-position-x:-512px ; 
    }
}

.mybridge{
    width: 1465px;
    height: 562;
}


.animar2{
    margin: auto;
    width: 139px;
    height: 125px;
    border: 2px solid #1a3155;
    background-image: url(../img/mov2.png);
}

.animar2:hover{
    animation: xmov2 1s steps(9) infinite;
    cursor: pointer;
}

@keyframes xmov2{
    100%{
        background-position-x:-1317px ; 
    }
}

.zorro{
    margin: auto;
    width: 605px;
    height: 519px;
    background-image: url(../img/zorro.png);
}

.zorro:hover{
    animation: zorro 2s steps(9) infinite;
    cursor: pointer;
}

@keyframes zorro{
    100%{
        background-position-x:-5449px ; 
    }
}


